{% extends "base.html" %}
{% block get_pic %}
<img src="/static/images/banner2.jpg" alt="     实业有限公司" title="     实业有限公司" style="width:100%;height: 500px">
{%endblock%}
{% block big_title %}
<strong>组织架构</strong>Core team
{% endblock %}

{% block left_bar %}
<ul class="L_ul">

                    <li><a href="/about" title="集团简介">集团简介</a></li>


                    <li><a href="/about_1" title="组织架构">组织架构</a></li>

                    <li><a href="/about_2" title="集团荣誉">集团荣誉</a></li>

                    <li><a href="/about_3" title="社会责任">社会责任</a></li>

                    <li><a href="/about_4" title="发展目标">发展目标</a></li>

                </ul>
{% endblock %}

{% block import_pic %}
<img src="{{ the_impo.url }}" style="width:200px;height:auto">
{% endblock %}

{% block position_fir %}
组织架构
{% endblock %}

{% block position_sec %}
组织架构
{% endblock %}

{% block text_one %}
<h1 style="text-align:center;margin-bottom:30px;color:rgb(51, 51, 153)">组织 架构</h1>
{% endblock %}

{% block text_two %}
<img src="/static/images/people.PNG" style="width:600px">
<p>2008年成立有限公司</p>
<p>为了改变公司面貌现场施工人员，大多数都有丰富施工经验，在施工中公司严把质量关。团队专业真诚，洋溢着活力为客户送去最好的体验</p>
{% endblock %}
