{% extends "base.html" %}
{% block get_pic %}
<img src="/static/images/banner2.jpg" alt=" 实业有限公司" title=" 实业有限公司" style="width:100%;height: 500px">
{%endblock%}
{% block big_title %}
<strong>公司简介</strong>ABOUT US
{% endblock %}

{% block left_bar %}
<ul class="L_ul">

                    <li><a href="/about" title="集团简介">集团简介</a></li>


                    <li><a href="/about_1" title="组织架构">组织架构</a></li>

                    <li><a href="/about_2" title="集团荣誉">集团荣誉</a></li>

                    <li><a href="/about_3" title="社会责任">社会责任</a></li>

                    <li><a href="/about_4" title="发展目标">发展目标</a></li>

                </ul>
{% endblock %}

{% block import_pic %}
<img src="{{ the_impo.url }}" style="width:200px;height:auto">
{% endblock %}

{% block position_fir %}
关于  
{% endblock %}

{% block position_sec %}
关于  
{% endblock %}

{% block text_one %}
<h1 style="text-align:center;margin:20px;color:rgb(51, 51, 153)">关于   </h1>
{% endblock %}

{% block text_two %}
 实业有限公司是一家集室内外设计、园林绿化、造价、施工，材料于一体的专业化装饰公司。公司从事装饰装修行业多年，有着创新的设计、合理的预算，还有一批独立的专业化施工队伍，确保施工绿色环保、安全文明。

公司设计、施工实力雄厚，拥有先进的电脑辅助设计系统及完善的施工设备，构建一支思维活跃、责任心强的团队。历年来，由公司设计、施工的项目有宾馆、别墅、酒店、娱乐、商厦、写字楼、商场、商业会所、高端住宅会所等多项室内装饰工程，随着公司知名度的不断提高，公司的经营业绩也在不断的提升。公司有着全套的设计、造价、施工、监理体系，工程绝不分包，材料由公司统一采购，并由高素质施工技术人员担纲，现场施工人员，大多数都有丰富施工经验，在施工中公司严把质量关。
{% endblock %}