{% extends "base.html" %}
{% block get_pic %}
<img src="/static/images/banner2.jpg" alt="三亚海桥实业有限公司" title="三亚海桥实业有限公司" style="width:100%;height: 500px">
{%endblock%}
{% block big_title %}
<strong>社会责任</strong>Core team
{% endblock %}

{% block left_bar %}
<ul class="L_ul">

                    <li><a href="/about" title="集团简介">集团简介</a></li>


                    <li><a href="/about_1" title="组织架构">组织架构</a></li>

                    <li><a href="/about_2" title="集团荣誉">集团荣誉</a></li>

                    <li><a href="/about_3" title="社会责任">社会责任</a></li>

                    <li><a href="/about_4" title="发展目标">发展目标</a></li>

                </ul>
{% endblock %}

{% block import_pic %}
<img src="{{ the_impo.url }}" style="width:200px;height:auto">
{% endblock %}

{% block position_fir %}
社会责任
{% endblock %}

{% block position_sec %}
社会责任
{% endblock %}

{% block text_one %}
<h1 style="text-align:center;margin-bottom:30px;color:rgb(51, 51, 153)">社会 责任</h1>
{% endblock %}

{% block text_two %}
<p>三亚海桥实业有限公司始终强调企业履行公共责任、公民义务、恪守道德规范。肖海桥同志非常重视质量管理工作，经常强调，为客户提供高品质的装饰装修和服务，就是企业最重要的社会责任之一。在经营公司的同时，肖海桥同志还不忘投身于爱心公益事业。认为尊老敬老是中华民族的传统美德，是社会文明进步的体现，他积极参与老龄事业建设，热心参与助老公益活动，关心老年人群，向老年人提供经济资助，受到社会的一致好评。同时也扶贫助学，关心祖国的下一代。特别是对待贫困学生，提供力所能及的帮助。</p>
{% endblock %}