{% extends "base.html" %}
{% block get_pic %}
<img src="/static/images/banner2.jpg" alt="三亚海桥实业有限公司" title="三亚海桥实业有限公司" style="width:100%;height: 500px">
{%endblock%}
{% block big_title %}
<strong>组织架构</strong>Core team
{% endblock %}

{% block left_bar %}
<ul class="L_ul">

                    <li><a href="/about" title="集团简介">集团简介</a></li>


                    <li><a href="/about_1" title="组织架构">组织架构</a></li>

                    <li><a href="/about_2" title="集团荣誉">集团荣誉</a></li>

                    <li><a href="/about_3" title="社会责任">社会责任</a></li>

                    <li><a href="/about_4" title="发展目标">发展目标</a></li>

                </ul>
{% endblock %}

{% block import_pic %}
<img src="{{ the_impo.url }}" style="width:200px;height:auto">
{% endblock %}

{% block position_fir %}
组织架构
{% endblock %}

{% block position_sec %}
组织架构
{% endblock %}

{% block text_one %}
<h1 style="text-align:center;margin-bottom:30px;color:rgb(51, 51, 153)">组织 架构</h1>
{% endblock %}

{% block text_two %}
<img src="/static/images/people.PNG" style="width:600px">
<p>肖海桥  男  江西瑞昌人  出生于1979年  毕业于江西南昌建筑 大学，海南大学MBA学历；2008年成立海南恒泰装饰工程有限公司三亚分公司；2012年成立三亚恒泰会装饰工程有限公司；2015年投资1000万，成立三亚海桥实业有限公司。</p>
<p>为了改变公司面貌，肖海桥同志始终以一种强烈的责任感和使命感，大胆开拓，勇于创新，使企业成为行业高速发展的领头人。着手组织管理体系的整合，以卓越绩效管理模式成为企业管理大纲，不断推进，实施企业整体优化，以实现领先的高品质为目标，使公司的市场发展在行业中处于领先地位。
近年来，肖海桥同志结合多年来的管理经验，有效的应对日益激烈的市场竞争态势，从而也积累了不少经验。坚持“经营以质量为纲，质量以市场为纲，管理以人本为纲”。在公司管理方面，十分重视精神文明建设，积极培训、注重提高员工素质，严于律己，使公司形成两个文明建设同步发展、相互促进的良好局面。</p>
<p>公司设计、施工实力雄厚，拥有先进的电脑辅助设计系统及完善的施工设备，构建一支思维活跃、责任心强的团队。历年来，由公司设计、施工的项目有宾馆、别墅、酒店、娱乐、商厦、写字楼、商场、商业会所、高端住宅会所等多项室内装饰工程，随着公司知名度的不断提高，公司的经营业绩也在不断的提升。
 公司有着全套的设计、造价、施工、监理体系，工程绝不分包。
 现场施工人员，大多数都有丰富施工经验，在施工中公司严把质量关。
 团队专业真诚，洋溢着活力为客户送去最好的体验</p>
{% endblock %}
