{% extends "base.html" %}
{% block get_pic %}
<img src="/static/images/banner2.jpg" alt="三亚海桥实业有限公司" title="三亚海桥实业有限公司" style="width:100%;height: 500px">
{%endblock%}
{% block big_title %}
<strong>发展目标</strong>Core team
{% endblock %}

{% block left_bar %}
<ul class="L_ul">

                    <li><a href="/about" title="集团简介">集团简介</a></li>


                    <li><a href="/about_1" title="组织架构">组织架构</a></li>

                    <li><a href="/about_2" title="集团荣誉">集团荣誉</a></li>

                    <li><a href="/about_3" title="社会责任">社会责任</a></li>

                    <li><a href="/about_4" title="发展目标">发展目标</a></li>

                </ul>
{% endblock %}

{% block import_pic %}
<img src="{{ the_impo.url }}" style="width:200px;height:auto">
{% endblock %}

{% block position_fir %}
发展目标
{% endblock %}

{% block position_sec %}
发展目标
{% endblock %}

{% block text_one %}
<h1 style="text-align:center;margin-bottom:30px;color:rgb(51, 51, 153)">发展 目标</h1>
{% endblock %}

{% block text_two %}
<h2>标准   规范   快捷   人性    全新的服务体验</h2>
<p>我们提供：标准化的服务模式，规范化的服务管理，快捷的服务方式，人性化的服务体验。通过提供全面、及时、科学的问题解决方案和服务保障，为客户带来全新而温馨的服务体验，真正做到潮流装修、全程无忧。</p>
<p>我们倡导：绿色服务全程化—从设计方案、材料选择、施工管理全过程，最大限度地保障环保健康，维护人居环境。人文服务个性化—坚持以人为本，突出人文关怀，真正理解和支持客户的个性化需求。品质服务超值化—通过优质的服务，增加服务附加值，超越客户的期望。</p>
<p>我们决心：接轨国际先进标准，建立全新的行业服务标准，创建知名的服务品牌，以实际行动带动行业服务水平的全面提升。竭诚为客户服务、不断创新、追求卓越。</p>
{% endblock %}