{% extends "base.html" %}
{% block get_pic %}
<img src="/static/images/banner2.jpg" alt="      实业有限公司" title="      实业有限公司" style="width:100%;height: 500px">
{%endblock%}
{% block big_title %}
<strong>集团荣誉</strong>Core team
{% endblock %}

{% block left_bar %}
<ul class="L_ul">

                    <li><a href="/about" title="集团简介">集团简介</a></li>


                    <li><a href="/about_1" title="组织架构">组织架构</a></li>

                    <li><a href="/about_2" title="集团荣誉">集团荣誉</a></li>

                    <li><a href="/about_3" title="社会责任">社会责任</a></li>

                    <li><a href="/about_4" title="发展目标">发展目标</a></li>

                </ul>
{% endblock %}

{% block import_pic %}
<img src="{{ the_impo.url }}" style="width:200px;height:auto">
{% endblock %}

{% block position_fir %}
集团荣誉
{% endblock %}

{% block position_sec %}
集团荣誉
{% endblock %}

{% block text_one %}
<h1 style="text-align:center;margin-bottom:30px;color:rgb(51, 51, 153)">集团 荣誉</h1>
{% endblock %}

{% block text_two %}
<p>使企业先后荣获被评为十佳装饰企业”等荣誉。</p>
{% endblock %}