<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>三亚海桥实业有限公司</title>
<meta name="keywords" content="三亚海桥实业有限公司" />
<meta name="description" content="装饰，施工" />
<link href="/static/JsCss/css.css" rel="stylesheet" type="text/css">
<!--[if IE 6]>
<script src='JsCss/iepng.js' type='text/javascript'></script>
<script type='text/javascript'>
   EvPNG.fix('*');
</script>

<![endif]-->
</head>
<script src="/static/JsCss/setimg.js">
</script>
<body>
	<div class="Top"></div>
	<div class="Head">
        <img src="{{ get_logo.url }}" alt="三亚海桥实业有限公司" title="三亚海桥实业有限公司" align="left" style="width:140px;height:auto;"/>
	</div>

{% block get_pic %}{% endblock %}
	<div class="Nav">
		<ul class="Nav_ul">
			<li><a href="/index" title="首 页" id="Link1" class="N_a">首 页</a></li>
			<li><a href="/about" title="公司简介" id="Link2" class="N_a">公司简介</a>
				<ul class="subnav">

                    <li><a href="/about" title="公司简介">公司简介</a></li>

                    <li><a href="/about_1" title="组织架构">组织架构</a></li>

                    <li><a href="/about_2" title="公司荣誉">公司荣誉</a></li>

                    <li><a href="/about_3" title="社会责任">社会责任</a></li>

                    <li><a href="/about_4" title="发展目标">发展目标</a></li>

				</ul>
            </li>
			<li><a href="/news" title="新闻资讯" id="Link3" class="N_a">新闻资讯</a>
				<ul class="subnav">
                  <li><a href="/news" title="三亚快讯">海桥快讯</a></li>
                  <li><a href="/news_1" title="视频资讯">行业动态</a></li>
				</ul>
            </li>
			<li><a href="/groupindustry" title="服务领域" id="Link4" class="N_a">服务领域</a></li>
			<li><a href="/jobs" title="项目案例" id="Link6" class="N_a">项目案例</a>
				<ul class="subnav">
                	<li><a href="/jobs" title="公寓住所">全部项目</a></li>

                    <li><a href="/jobs_1" title="酒店">公寓住所/酒店</a></li>

                    <li><a href="/jobs_2" title="商业街/网咖">商业项目</a></li>
				</ul>
            </li>
			<li style="background:none;"><a href="/contact" title="联系我们" id="Link7" class="N_a">联系我们</a>
				<ul class="subnav">
                <li><a href="/contact" title="联系我们">联系我们</a></li>
				</ul>
            </li>
		</ul>
	</div>
	<div class="Main"><img src="/static/images/t_pic.gif" align="top" alt="" title="" /></div>

<script>document.getElementById('Link1').className='Sy';</script>

    <div class="Main">
            <div class="Left">
                <h2 class="I_h2">{% block big_title %}{% endblock %}</h2>
                {% block left_bar %}
                {% endblock %}

			<h2 class="I_h2"><strong>重点项目</strong>CORE ENTERPRISE</h2>
                {% block import_pic %}
                {% endblock %}

            </div>
            <div class="Right">
                <h2 class="R-h2"><span>当前位置：首 页 > {% block position_fir %}{% endblock %}</span>{% block position_sec %}{% endblock %}</h2>
                <div class="Con">
                    <p><p>&nbsp;&nbsp;<span style="font-size:16px;">&nbsp;&nbsp;{% block text_one %}{% endblock %}</span></p><p><span style="font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% block text_two %}{% endblock %}</span></p>
                </div>
            </div>
    </div>

	<div class="Bottom">
		<p><a href="/about" title="关于海桥">关于海桥</a>|<a href="/jobs" title="项目案例">项目案例</a>|<a href="/contact" title="联系我们">联系我们</a></p>
				Copyright 2017-2020 三亚海桥实业有限公司 版权所有 备案号：琼ICP备17002121号 网站www.syhqsy.com<br />地址:海南省三亚市吉阳区荔枝沟抱坡路津海建材市场型材三区一排90-A 电话:0898-88391699  邮编:572000<br />
	</div>
</body>
</html>
<script type="text/javascript" src="/static/JsCss/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".Nav ul li a").mouseover(function() { //When trigger is clicked...
		//Following events are applied to the subnav itself (moving subnav up and down)
		$(this).parent().find(".subnav").slideDown('fast').show(); //Drop down the subnav on click
		$(this).parent().hover(function() {
		}, function(){
			$(this).parent().find(".subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
		});
		//Following events are applied to the trigger (Hover events for the trigger)
		})
});
</script>
<script type="text/javascript" src="/static/JsCss/roll.js"></script>
<script type="text/javascript">
function setTab(m,n) {
	var menu=document.getElementById("tab"+m).getElementsByTagName("span");
	var showdiv=document.getElementById("tablist"+m).getElementsByTagName("ul");
	for(var i=0;i<menu.length;i++)
	{
		menu[i].className=i==n?"on":"";
		showdiv[i].style.display=i==n?"block":"none";
	}

}
	//鼠标经过切换父div背景
	$(function(){
		$("#T1").mouseover(
			function () {
				$(this).parent("div").removeClass("N_li");
			});
		$("#T2").mouseover(
			function () {
				$(this).parent("div").addClass("N_li");   //鼠标经过时增加样式N_li
			});
	});
	//鼠标经过li切换背景、字体 颜色
	$("#tablist1 li").hover(
		function () {
			$(this).addClass("li_color");   //鼠标经过时增加样式P02
		},
		function () {
			$(this).removeClass("li_color"); //鼠标离开时移除样式P02
		}
	);
</script>
