{% extends "base.html" %}
{% block get_pic %}
<img src="/static/images/banner2.jpg" alt="      实业有限公司" title="      实业有限公司" style="width:100%;height: 500px">
{%endblock%}
{% block big_title %}
<strong>服务领域</strong>Core team
{% endblock %}

{% block left_bar %}
<ul class="L_ul">
    <li><a href="/groupindustry" title="服务领域">服务领域</a></li>
</ul>
{% endblock %}

{% block import_pic %}
<img src="{{ the_impo.url }}" style="width:200px;height:auto">
{% endblock %}

{% block position_fir %}
服务领域{% endblock %}

{% block position_sec %}
服务领域{% endblock %}

{% block text_one %}
<h1 style="text-align:center;margin-bottom:30px;color:rgb(51, 51, 153)">服务 领域</h1>
{% endblock %}

{% block text_two %}
<div>
    <div style="width:330px;float:left;margin:7px;border:3px rgb(51,51,153) solid">
        <img src="/static/images/lvhua.png" style="display:inline-block;margin-top:10px;margin-left:5px">
        <span style="font-size:40px;display:inline-block;position:relative;bottom:16px;color:rgb(51,51,153)">园林绿化</span>
    </div>
    <div style="width:330px;float:left;margin:7px;border:3px rgb(51,51,153) solid">
        <img src="/static/images/shigong.png" style="display:inline-block;margin-top:10px;margin-left:5px">
        <span style="font-size:40px;display:inline-block;position:relative;bottom:16px;color:rgb(51,51,153)">工业施工</span>
    </div>
    <div style="width:330px;float:left;margin:7px;border:3px rgb(51,51,153) solid">
        <img src="/static/images/sheji.png" style="display:inline-block;margin-top:10px;margin-left:5px">
        <span style="font-size:40px;display:inline-block;position:relative;bottom:16px;color:rgb(51,51,153)">装饰设计</span>
    </div>
    <div style="width:330px;float:left;margin:7px;border:3px rgb(51,51,153) solid">
        <img src="/static/images/guanli.png" style="display:inline-block;margin-top:10px;margin-left:5px">
        <span style="font-size:40px;display:inline-block;position:relative;bottom:16px;color:rgb(51,51,153)">现场管理</span>
    </div>
    <div style="width:330px;float:left;margin:7px;border:3px rgb(51,51,153) solid">
        <img src="/static/images/cailiao.png" style="display:inline-block;margin-top:10px;margin-left:5px">
        <span style="font-size:40px;display:inline-block;position:relative;bottom:16px;color:rgb(51,51,153)">装饰材料施工</span>
    </div>
    <div style="width:330px;float:left;margin:7px;border:3px rgb(51,51,153) solid">
        <img src="/static/images/shineiwai.png" style="display:inline-block;margin-top:10px;margin-left:5px">
        <span style="font-size:40px;display:inline-block;position:relative;bottom:16px;color:rgb(51,51,153)">室内外设计</span>
    </div>
    <div style="clear:both"></div>
</div>

{% endblock %}