{% extends "base.html" %}
{% block get_pic %}
<img src="/static/images/banner3.jpg" alt="三亚海桥实业有限公司" title="三亚海桥实业有限公司" style="width:100%;height: 500px">
{%endblock%}
{% block big_title %}
<strong>行业动态</strong>Core team
{% endblock %}

{% block left_bar %}
<ul class="L_ul">

                    <li><a href="/news" title="海桥快讯">海桥快讯</a></li>

                    <li><a href="/news_1" title="行业动态">行业动态</a></li>
</ul>
{% endblock %}

{% block import_pic %}
<img src="{{ the_impo.url }}" style="width:200px;height:auto">
{% endblock %}

{% block position_fir %}
行业动态{% endblock %}

{% block position_sec %}
行业动态{% endblock %}

{% block text_one %}
<h1 style="text-align:center;margin-bottom:10px;color:rgb(51, 51, 153)">行业 动态</h1>
{% endblock %}

{% block text_two %}
<div class="I_news" style="width:100%">
			<div id="tablist1">
				<ul style="width:100%">
					{% for new_item in get_allnew %}
					<li style="width:100%"><span class="Title"><a href="{{ new_item.id }}" target="_blank">{{ new_item.news_title }}</a></span><p style="float:right; margin-right:30px">{{ new_item.news_time }}</p></li>
					{% endfor %}
				</ul>
				<ul style="display:none;">

				</ul>
			</div>
		</div>

{% endblock %}